//On va chercher une police Google, on importe des variables pour Bootstrap,
// on va chercher les fichiers sass et js dans les ressources et qu’on les compile en les envoyant dans des dossiers publics.
// voir http://laravel.sillo.org/cours-laravel-5-5-css-et-javascript/

// Fonts
// @import "variables";
// @import url('https://fonts.googleapis.com/css?family=Sniglet');      PROD

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    height:100%;
    font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 0.9rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 0.9rem;
    }
}


body {
    //font-family: 'Sniglet', Verdana, sans-serif;               PROD
    font-family: Verdana, Tahoma, sans-serif;
    height:100%;
    position: relative;
}

#main{
  max-width:1280px;
min-height:100%;
margin:0 auto;
position:relative;
}

.bg-dark {
    //background-color: #b71212 !important;
  }

  .table-info,
  .table-info > th,
  .table-info > td {
    background-color: #63cad8;
  }

.navbar {
    background-color: #862f6588;
}

.navbar-expand-md {
    @include font-size(1.4rem);
}

.navbar-expand {
    padding: 0;
    font-size: 0.8rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

/* @media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
} */

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

figure {
  width: 30%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
}

.note {
  text-align: left;
  font-style: italic;
  font-size: smaller;
}

#wrap{
  min-height:88%;
  position: relative;
}

#foot{
  background:#e6eaeb;
  box-shadow: 0 0 0 1px rgba(125, 131, 131, 0.281), 0 0 0 0.1rem rgba(243, 247, 247, 0.322);
  height: 125px;
  bottom: 0;
}

.content-foot{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  vertical-align:middle;
}